.workshop__button{
  margin: 3vw auto;
  display: flex;
  justify-content: center;

}

.workshop__button:active{

  outline: none;
  text-emphasis: none;
  transform: translate(.4vw, .4vw);
}

.promo__button {
  margin: -3vw 0 4vw 0;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.promo__button:active{
  outline: none;
  text-emphasis: none;
  transform: translate(.4vw, .4vw);
}

.testbutton {
  color: red;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 0.075em;
  padding: .8em 1em;
  margin: auto 2em;
  position: relative;
  align-self: center;
  text-transform: uppercase;
  border: 3px blue solid;
  border-image: linear-gradient(45deg, blue 0%, pink 100%);
  border-image-slice: 1 1 0 0;
  z-index: 1;
  box-shadow: -0.5em .5em transparentize(white,1);
  transform-origin: left bottom;
  @include transition-all;

  &:before,
  &:after {
    border: 3px blue solid;
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
  }

  // SIDE
  &:before {
    border-image: linear-gradient(45deg, blue 0%, adjust-hue(blue,10%) 100%);
    border-image-slice: 1 1 0 1;
    left: -0.59em; top: .15em;
    width: .31em;
    height: 100%;
    transform: skewY(-45deg);
}}
