.homepage {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
}

.special {
  font-family: Yusei;
}

.special__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.special__info--title {
  font-size: 7rem;
  color: var(--white);
}
.special__info--date {
  font-size: 2rem;
  color: var(--white);
}

.special__flex {
  justify-content: space-evenly;
  background-size: auto;
  background-repeat: no-repeat;
}

.special__info--image {
  width: 95vw;
  height: auto;
  margin: auto;
}

.special__image {
  position: absolute;
  top: 0vw;
  left: 35vw;
  height: 40vw;
  width: auto;
}

.overgang {
  display: flex;
  justify-content: center;
}

.overgang__noten {
  height: auto;
  width: 50%;
  margin: 5vw auto;
}

.workshop {
  width: 100vw;
  margin-top: 5vw;
  justify-content: space-between;
}

.workshop__info {
  margin-right: 13vw;
  justify-content: start;
}

.workshop__title--white {
  background-image: url(../assets/img/DIY.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
  height: 15vw;
  width: 32vw;
  text-align: right;
  padding: 9vw 3vw 0 12vw;
  margin-top: -3vw;
}
/* background-image: url(../assets/img/DIYklein.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 42rem -4rem;

  height: 15vw;
  text-align: center;
  /* Will override color (regardless of order)
  padding: 4vw 0 0 4vw;
} */

.workshop__image {
  width: 42%;
  height: 42%;
  margin-left: 20vw;
}

.workshop__text {
  font-size: var(--fontRegular);
  width: 30vw;
  color: var(--white);
  text-align: left;
  margin: 0 auto;
  padding: 2vw 0;
}

.flex__row {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.promo {
  color: var(--white);
}

.promo__style {
  text-align: left;
  margin-bottom: 3vw;
  margin-left: 5vw;
}

.promo__title {
  text-align: center;
  margin-top: 10vw;
}

.promo__image {
  margin-left: 5vw;
}

.promo__text {
  font-size: var(--fontRegular);
  width: 45vw;
}

.promo__flex {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  margin: 3vw auto 5vw auto;
  padding: 0;
}

.car {
  width: 98vw;
  height: auto;
  margin-bottom: -1vw;
}

.sponsors__img {
  background-color: white;
  padding: 4vw;
  display: flex;
  justify-content: space-around;
}

.sponsors__img--item {
  width: 13vw;
  height: auto;
}

@media (max-width: 420px) {
  .flex__row {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .special__info--title {
    font-size: 15vw;
  }
  .special__image {
    width: 25vw;
    height: auto;
    margin-left: -11vw;
  }

  .workshop__info {
    margin-right: 0;
  }

  .workshop__title--white {
    padding: 0;
    margin: 4vw;
  }

  .workshop__text {
    font-size: 1.6rem;
    width: 69vw;
  }

  .workshop__image {
    width: 75%;
    height: 42%;
    margin-left: 10vw;
    margin-top: 3rem;
  }

  .workshop__button--img {
    width: 55vw;
    margin-top: 1rem;
  }

  .footer__cookies {
    display: flex;
    flex-direction: column;
  }
  .promo__text {
    font-size: 1.6rem;
    width: 69vw;
  }

  .promo__flex {
    display: flex;
    flex-direction: column;
  }

  .promo__image {
    width: 50vw;
    height: auto;
    margin-bottom: 6rem;
  }

  .promo__title {
    text-align: center;
    margin-top: 10vw;
    font-size: 4rem;
  }

  .promo__button--image {
    width: 55vw;
  }
}

@media (max-width: 1200px) {
  .promo__image {
    margin-left: 5vw;
    width: 35%;
    height: auto;
  }
}

@media (max-width: 800px) {
  .promo__flex {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    margin: 3vw auto 5vw auto;
    padding: 0;
  }

  .flex__row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .special__flex {
    display: flex;
    flex-direction: column;
  }

  .special__image {
    left: 27vw;
  }

  .promo__image {
    width: 50vw;
    height: auto;
    margin-bottom: 6rem;
  }

  .workshop__text {
    color: var(--white);
    width: 70vw;
    text-align: left;
    margin-left: 20vw;
  }

  .workshop__button--img {
    margin-top: 3rem;
  }

  .promo__text {
    font-size: 1.6rem;
    width: 69vw;
  }

  .special__info--title {
    margin-top: 3vw;
  }

  .sponsors__img {
    display: flex;
    flex-wrap: wrap;
  }
}
