.homepage {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
}
.special {
  font-family: Yusei;
}

.special__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.special__info--title {
  font-size: 7rem;
  color: var(--white);
}
.special__info--date {
  font-size: 2rem;
  color: var(--white);
}

.special__flex {
  justify-content: space-evenly;
  background-size: auto;
  background-repeat: no-repeat;
}

.special__info--image {
  width: 95vw;
  height: auto;
  margin: auto;
}

.special__image {
  position: absolute;
  top: 0vw;
  left: 35vw;
  height: 40vw;
  width: auto;
}

.overgang {
  display: flex;
  justify-content: center;
}

.overgang__noten {
  height: auto;
  width: 77%;
  margin: 5vw auto;
}

.workshop {
  width: 100vw;
  margin-top: 5vw;
  justify-content: space-between;
}

.workshop__info {
  margin-right: 13vw;
  justify-content: start;
}

.overflow {
  position: relative;
}

.workshop__title--white {
  background-image: url(../assets/img/DIY.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: -2rem -4rem; ;


  height: 15vw;
  text-align: right;
  font-family: Yusei;
  font-size: var(--fontTitle);
  color: var(--white); /* Will override color (regardless of order) */
  padding: 4vw 0 0 12vw;
}

.workshop__title--dark {
  position: absolute;
  z-index: -1;
  right: 8vw;
  top: -11vw;
}

.workshop__image {
  width: 50%;
  height: 50%;
  margin: 0;
}

.workshop__text {
  font-size: var(--fontRegular);
  width: 30vw;
  color: var(--white);
  text-align: left;
  margin: 0 auto;
  padding: 2vw 0;

}

.flex__row {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.promo {
  color: var(--white);
}
.promo__title {
  margin: 10vw auto 3vw;
}

.promo__text {
  width: 45vw;
  text-align: left;
  margin: 2vw auto;
  font-size: var(--fontRegular);
}

.promo__text--adress {
  text-align: center;
  font-size: 2.5rem;
}

.promo__flex {
  justify-content: space-around;
}

.car {
  display: flex;
  margin: auto 0 auto auto;
}

.sponsors__img {
  background-color: white;
  padding: 4vw;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 400px) {
  .special__info--title {
    font-size: 15vw;
  }
  .special__image {
    width: 30vw;
    height: auto;
  }

  .footer__cookies {
    display: flex;
    flex-direction: column;
  }
  .promo__text {
    font-size: 2rem;
  }
}

@media (max-width: 800px) {
  .special__flex {
    display: flex;
    flex-direction: column;
  }
  /* .special__image {
    width: 60vw;
    height: auto;
  } */

  .promo__image {
    width: 60vw;
    height: auto;
  }

  .flex__row {
    display: flex;
    flex-direction: row;
  }

  .workshop__text {
    color: var(--black);
  }

  .workshop__button {
    background-color: var(--black);
  }

  .promo__text {
    width: 80vw;
    font-size: 2.5rem;
  }
  .special__info--title {
    margin-top: 3vw;
  }
  .sponsors__img {
    display: flex;
    flex-wrap: wrap;
  }
}
