.container {
  /* width: 96rem; */
  height: 100%;
  margin: 0 auto;
}

.visually-hidden {
  /* stylelint-disable */
  position: absolute !important;
  /* stylelint-enable */
  height: 1px;
  width: 1px;
  overflow: hidden;
  display: none;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}

.navigatie {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

.navigatie__logo {
  list-style: none;
  margin-left: 4vw;
}

.navigatie__tutorial {
  display: flex;
  list-style: none;
  justify-content: space-around;
  height: 11vh;
  width: 50vw;
  margin: 2vh;
  align-items: center;
}

.navigatie__tutorial--item {
  font-family: Roboto;
  font-weight: bold;
  font-size: var(--fontNav);
  text-decoration: none;
  color: var(--navBlue);
}

.navigatie__tutorial--item:hover {
  position: relative;
  color: var(--blue);
}

.navigatie__tutorial--item:active {
  position: relative;
  top: 0.1rem;
  padding: 0 1vw;
  transform: translateX(0.4rem);
  color: var(--blue);
  text-decoration: underline;
  text-underline-offset: 1vw;
}

.active {
  color: var(--blue);
}

.subTitle {
  font-family: Yusei;
  font-size: var(--fontTitle);
  color: var(--white);
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 0 auto;

  justify-items: center;
  align-items: center;

  font-family: Sanchez, sans-serif;
  font-size: var(--fontFooter);
  color: var(--white);

  margin: 2vw;
  padding-top: 3vw;
  border-top: solid 0.3rem var(--green);
}

.footer__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer__socialMedia {
  width: 33vh;
}

.footer__cookies {
  width: 50vh;
}
@media (max-width: 400px) {
  .navigatie__logo--img {
    width: 15vw;
    height: auto;
  }
  
  .navigatie__extra {
    display: none;
  }

  .navigatie__tutorial--item {
    margin-right: 5vw;
  }

  .navigatie__kar--img {
    width: 10vw;
  }

  .subTitle {
    font-family: Yusei;
    font-size: var(--subTitleKlein);
    color: var(--white);
  }

  .footer__logo {
    width: 70%;

  }

  .footer__cookies {
    width: 20vh;
  }
}

@media (max-width: 800px) {
  .navigatie__extra {
    display: none;
  }

  .row__flex {
    display: flex;
    flex-direction: column;
  }

  .workshop__text {
    color: var(--black);
  }
  .promo__text {
    width: 80vw;
  }
  .special__info--title {
    margin-top: 3vw;
  }

  .sponsors__img {
    display: flex;
    flex-wrap: wrap;
  }

}
