.stap__title {
  text-align: center;
}

.body {
  margin: 7vw 0;
}

.stap__flex {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding: 0 3vw;
}

.stap__deel {
  margin: 0 3vw;
  width: 30vw;
}

.stap__deel--text {
  color: var(--white);
  font-size: var(--fontRegular);
  margin-top: 1vw;
}

.stap__deel--img {
  width: 25vw;
  height: auto;
}

.buis {
  width: 20vw;
}

.klein {
  margin-bottom: 8vw;
}

.lang {
  height: 34vw;
  width: auto;
}

.noten1 {
  height: 50vh;
}

.noten2 {
  margin: 0 -3vw;
}

.noten3 {
  width: 12vw;
  margin: 0 2vw;
}

.stap__deel--span {
  color: var(--pink);
}

.noten {
  padding: 0 3vw;
}

#video {
  position: absolute;
  left: 15vw;
  top: 2vw;
}

.hoorn1 {
  width: 30vw;
  height: auto;
}

.hoorn2 {
  width: 20vw;
  height: auto;
}

.hoorn3 {
  width: auto;
  height: 50vh;
}

@media (max-width: 420px) {
  .stap__title {
    font-size: 4rem;
  }
  .stap__button--image {
    width: 20vw;
    height: auto;
  }

  .buis {
    width: 20vw;
  }

  .stap__flex {
    flex-direction: column;
  }
  .stap__deel--img {
    width: 50vw;
    height: auto;
    margin-left: 14vw;
    margin-top: 3vw;
  }

  .stap__deel--text {
    width: 80vw;
    text-align: center;
  }
}

@media (max-width: 800px) {
  .stap__title {
    font-size: 4rem;
  }
  .stap__button--image {
    width: 20vw;
    height: auto;
  }

  .buis {
    width: 20vw;
  }

  .stap__flex {
    flex-direction: column;
  }
  .stap__deel--img {
    width: 50vw;
    height: auto;
    margin-left: 14vw;
    margin-top: 10vw;
  }

  .stap__deel--text {
    width: 80vw;
    text-align: center;
  }

  .noten1 {
    height: 50vh;
    width: auto;
  }

  .hoorn1 {
    height: 30vh;
    width: auto;
    margin-left: 10vw;
  }

  .hoorn2 {
    margin-left: 20vw;
  }
}

@media (max-width: 1200px) {

  .stap__deel {
    margin: 5vw 3vw;
    width: 40vw;
  }

  .stap__flex {
    flex-wrap: wrap;
    justify-content: flex-start;

  }

  .stap__deel--img {
    width: 40rem;
    height: auto;
  }

  .noten1 {
    height: 40vh;
  }

  .noten3 {
    width: 25vw;
    height: auto;
    margin: 0 2vw;
  }

  .hoorn2 {
    width: 31vw;
    height: auto;
  }
}
