.header {
  position: relative;
}

.header__title {
  color: var(--white);
  margin-bottom: 3vw;
}

.header__title--white {
  background-image: url(../assets/img/tutorial.png);
  background-size: contain;
  background-repeat: no-repeat;

  margin: 0 auto;
  height: 15vw;
  width: 80vw;
  text-align: right;
  padding: 9vw 3vw 0 12vw;
  margin-top: -3vw;
}

.header__image {
  position: relative;
  height: 65vh;
  margin-left: 13vw;
  margin-bottom: 1vw;
}

.header__image--back {
  z-index: -1;
  position: absolute;
  width: 100vw;
  left: 0vw;
  top: 12vw;
}

.header__text {
  font-size: var(--fontRegular);
  color: var(--blue);
  width: 26vw;

  position: relative;
  left: 65vw;
  top: -8vw;
}

.materials__title--white {
  background-image: url(../assets/img/materiaal.png);
  background-size: contain;
  background-repeat: no-repeat;

  margin: 0 auto;
  height: 15vw;
  width: 80vw;
  text-align: right;
  padding: 9vw 3vw 0 12vw;
  margin-top: -3vw;
}

.materials__section {
  padding-top: 6vw;
}

.materials__specials {
  display: grid;
  grid-template-columns: repeat(3, 20%);
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
  gap: 1vw;

  /* volledig grid */
  align-items: center;
  justify-content: center;
}
.materials__specials--img {
  width: 50%;
  height: auto;
}
.pvc {
  width: 80%;
  height: auto;
}

.specials__img4 {
  grid-column: span 2;
}

.materials__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.materials__specials--text {
  font-size: var(--fontRegular);
  color: var(--white);
  margin-top: 1vw;
}

.hint {
  display: block;
  margin-left: auto;
  margin-top: -10vw;
  margin-right: 4vw;
}
.kit__title {
  background-image: url(../assets/img/pakket.png);
  background-size: contain;
  background-repeat: no-repeat;

  margin: 4vw auto;
  height: 15vw;
  width: 80vw;
  text-align: right;
  padding: 10vw 3vw 0 12vw;
}

.kit__info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.kit__info--text {
  width: 30vw;
  justify-content: space-evenly;
}

.kit__item {
  margin: 2vw 0;
}

.kit__info--description {
  font-size: var(--fontRegular);
  color: var(--white);
}

.kit__info--price {
  font-size: var(--subFontTitle);
  font-family: Yusei;
  color: var(--blue);
}

.overzicht {
  width: 100vw;
  margin: 0 auto;
}
.overzicht__title--white {
  background-image: url(../assets/img/saxofoon.png);
  background-size: contain;
  background-repeat: no-repeat;

  margin: 4vw auto;
  height: 15vw;
  width: 80vw;
  text-align: right;
  padding: 10vw 3vw 0 12vw;
}

.overzicht__title {
  color: var(--white);
  font-size: var(--fontRegular);
  text-align: center;
  margin-bottom: 2vw;
}

.overzicht__buttons {
  display: flex;
  justify-content: center;
  align-items: content;
}

.overzicht__button {
  margin: 1vw;
}

.mobile {
  display: none;
}

.overzicht__image--extra {
  display: none;
}

@media (max-width: 420px) {
  .header__image {
    width: 70vw;
    height: auto;
    margin-top: 10vw;
  }
  .header__image--back {
    margin-top: 30vw;
    width: 100vw;
    height: auto;
  }

  .header__text {
    font-size: var(--fontRegularKlein);
    color: var(--blue);
    width: 70vw;

    position: relative;
    left: 20vw;
    top: -4vw;
  }
  .kit__info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .kit__info--image {
    height: 60vw;
    width: auto;
    margin: 5vw;
  }

  .kit__info--text {
    width: 50vw;
    font-size: var(--fontRegularKlein);
  }

  .kit__info--description {
    width: 80vw;
  }

  .kit__item {
    width: 50vw;
    height: auto;
  }

  .hint {
    width: 40vw;
    height: auto;
  }

  .materials__title--white {
    margin: 25vw auto;
    text-align: center;
  }
  .materials__specials {
    grid-template-columns: repeat(2, 40%);
  }

  .materials__specials--text {
    text-align: center;
  }
}

@media (max-width: 800px) {
  .desktop {
    display: none;
  }
  .header__image {
    width: 70vw;
    height: auto;
    margin-top: 10vw;
  }
  .header__image--back {
    margin-top: 30vw;
    width: 100vw;
    height: auto;
  }
  .mobile {
    position: relative;
    display: inherit;
    width: 10vw;
    height: auto;
  }

  .controls__image {
    width: 50vw;
    height: auto;
  }

  .overzicht__image--extra {
    display: inherit;
    height: 47vh;
    width: auto;
    margin: 10vw;
  }

  .overzicht__title {
    display: none;
  }
}
