.header {
  position: relative;
}

.header__title {
  color: var(--white);
  margin-bottom: 3vw;
}

.header__title--white {
  background-image: url(../assets/img/tutorial.png);
  background-size: contain;
  background-repeat: no-repeat;

  margin: 0 auto;
  height: 15vw;
  width: 80vw;
  text-align: right;
  padding: 9vw 3vw 0 12vw;
  margin-top: -3vw;
}

.header__image {
  position: relative;
  height: 65vh;
  margin-left: 13vw;
  margin-bottom: 1vw;
}

.header__image--back {
  z-index: -1;
  position: absolute;
  width: 100vw;
  left: 0vw;
  top: 12vw;
}

.header__text {
  font-size: var(--fontRegular);
  color: var(--blue);
  width: 26vw;

  position: relative;
  left: 65vw;
  top: -8vw;
}

.materials__title--white {
  background-image: url(../assets/img/materiaal.png);
  background-size: contain;
  background-repeat: no-repeat;

  margin: 0 auto;
  height: 15vw;
  width: 80vw;
  text-align: right;
  padding: 9vw 3vw 0 12vw;
  margin-top: -3vw;
}

.materials__section {
  padding-top: 6vw;
}

.materials__specials {
  display: grid;
  grid-template-columns: repeat(3, 20%);
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
  gap: 1vw;

  /* volledig grid */
  align-items: center;
  justify-content: center;
}
.materials__specials--img {
  width: 50%;
  height: auto;
}
.pvc {
  width: 80%;
  height: auto;
}

.specials__img4 {
  grid-column: span 2;
}

.materials__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.materials__specials--text {
  font-size: var(--fontRegular);
  color: var(--white);
  margin-top: 1vw;
}

.kit__title {
  background-image: url(../assets/img/pakket.png);
  background-size: contain;
  background-repeat: no-repeat;

  margin: 4vw auto;
  height: 15vw;
  width: 80vw;
  text-align: right;
  padding: 10vw 3vw 0 12vw;
}

.kit__info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.kit__info--text {
  width: 30vw;
  justify-content: space-evenly;
}

.kit__item {
  margin:  2vw 0;
}

.kit__info--description {
  font-size: var(--fontRegular);
  color: var(--white);
}

.kit__info--price {
  font-size: var(--subFontTitle);
  font-family: Yusei;
  color: var(--blue);
}
/* .kits {
  padding-top: 3vw;
}

.kits__text {
  font-size: var(--fontRegular);
  text-align: center;
}

.kits__flex {
  padding-top: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.kits__background {
  background-color: var(--white);
  height: 25vw;
  margin-bottom: 20vw;
}

.kit__name {
  color: var(--white);
  margin-top: -4vw;
  font-size: 3.8rem;
  font-family: Yusei;
}

.infopage__css {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.infopage__info {
  display: flex;
  flex-direction: column;
}

.infopage__info--div {
  display: flex;
  color: var(--white);
  justify-content: right;
  align-items: center;
  margin-top: 2vh;
}

.infopage__info--icon {
  padding-right: 3vw;
}

.loadingscreen__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loadingscreen__info--text {
  margin-top: 1vw;
  color: var(--white);
  font-size: 2.5rem;
}

.step {
  margin: 9vw 6vw;
}

.step__title--title {
  color: var(--white);
  font-size: var(--fontTutorial);
  width: 60vw;
}

.step__title {
  display: flex;
  justify-content: space-around;
  margin-right: 3vw;
  width: 100%;
}

.step__title--progress {
  margin-right: 2vw;
}

.step__tutorial {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.step__tutorial--materialen {
  display: flex;
  flex-direction: column;
}

.materialen__title {
  padding-bottom: 1vw;
}

.step__promo--text {
  color: var(--white);
  font: var(--fontRegular);
  text-align: center;
}

.step__promo--location {
  color: var(--navBlue);
  font: var(--fontNav);
  text-align: center;
} */

@media (max-width: 800px) {
  /* .title__image {
    width: 60vw;
    height: auto;
  }

  .titel {
    font-size: 2.5rem;
  }

  .ondertitel {
    font-size: 1.8rem;
  }

  .infopage__css--img {
    width: 45vw;
    height: auto;
  }
  .infopage__info--icon {
    width: 8vw;
  }
  .loadingscreen__info--intro {
    width: 60vw;
    height: auto;
  }

  .kits__background {
    height: 90vh;
  }

  .kit__img {
    width: 60vw;
    height: auto;
  }

  .kit__name {
    color: var(--black);
    font-size: 2.5rem;
  }

  .kits__flex {
    display: flex;
    flex-direction: column;
  }

  .step__image {
    width: 60vw;
    height: auto;
  }

  .step__tutorial {
    display: flex;
    flex-direction: column;
  }

  .step__buttons {
    display: flex;
    flex-direction: row;
  }
  .subtitle {
    display: none;
  }

  .step__tutorial--materialen {
    display: flex;
    flex-direction: row;
  }

  .step__materialen--materiaal {
    width: 16vw;
    height: auto;
    padding: 1vw;
  } */
}

@media (max-width: 400px) {
  /* .step__tutorial--materialen {
    display: none;
  }
  .step__title--progress {
    height: 10vh;
  }
  .title__image {
    width: 50vw;
    height: auto;
  }

  .titel {
    font-size: 2.5rem;
  }

  .ondertitel {
    font-size: 1.8rem;
  }

  .infopage__css--img {
    width: 50vw;
    height: auto;
  }

  .loadingscreen__info--intro {
    width: 50vw;
    height: auto;
  }

  .kit__img {
    width: 50vw;
    height: auto;
  }

  .step__image {
    width: 50vw;
    height: auto;
  }

  .step__buttons {
    display: none;
  }

  .infopage__css {
    display: flex;
    flex-direction: column;
  } */
}
