:root {
  --fontNav: 2.5rem;
  --fontFooter: 1.5rem;
  --fontTitle: 6rem;

  --subFontTitle: 5rem;
  --fontRegular: 2rem;
  --fontTutorial: 1.8rem;

  --white: #eaeaea;
  --black: #1a1a25;
  --navBlue: #1d4a50;
  --blue: #1dfff4;
  --pink: #f270d9;
  --green: #cff431;
  --backgroundColor: #1a1a25;

  --subTitleKlein: 4rem;
  --fontRegularKlein: 1.6rem;
}
